@material-primary:         #4099de;
@material-success:         #6eb76e;
@material-info:            #7ab9cc;
@material-warning:         #e8b97d;
@material-danger:          #cc6c6a;

@line1: "https://raw.githubusercontent.com/youhosi/nodebb-theme-oxide/master/img/1x1.png";
@line67: "https://raw.githubusercontent.com/youhosi/nodebb-theme-oxide/master/img/1x67.png";

@import "style";

@import "topic";
@import "category";
@import "tags";
@import "noscript";
@import "categories";
@import "header";
@import "account";
@import "groups";
@import "chats";
@import "notifications";
@import "search";
@import "unread";
@import "users";
@import "outgoing";
@import "footer";
@import "posts_list";
@import "register";
@import "flags";

@import "mobile";

@import "helpers";
@import "keyframes";
@import "rtl";

@import "modules/nprogress";
@import "modules/usercard";
@import "modules/taskbar";
@import "modules/alerts";
@import "modules/fab";
@import "modules/morph";
@import "modules/composer-default";
@import "modules/cookie-consent";
@import "modules/bottom-sheet";