.posts-list-item {
	.topic-category {
		font-size: 13px;
		font-weight: 900;
		color: lighten(@gray-base, 40%);
		text-align: right;
		text-transform: uppercase;
		display: block;
		margin: 20px 10px;
	}

	.post-header {
		z-index: 1;
	}
	
	.content {
		display: block;
		padding-bottom: 0;

		.topic-title {
			display: unset;
		}
	}
}

.user-posts {
	.section-title {
		font-size: 26px;
		padding: 20px 37px 25px ;
		margin: -20px 0 0;
	}
}